/* General styling */

body {
  background-color: white;
}

.header{
  text-align: center;
  margin-top: 5%;
}

.heading {
  color: #296EB4
}

.frame {
  border: 5px solid #1789FC;
}

/* index.html page */

.button__container {
  text-align: center;
  padding: 1rem;
}

.frame--sunshine {
  margin: 2% auto;
}

.img--sunshine{
  display: block;
  margin: 0 auto;
}