/* register-login page */
.pict-responsive {
    width: 50%;
    height: auto;

}

.btn-group button {
    background-color: #595bd3; /* Green background */
    margin-bottom : 16px;
    border: 1px solid #595bd3; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 120px; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
   }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #2c2d64;
  }